<div class="grid">
    <div class="col-12">
        <div class="{{tableConfigs.wrapInCard ? 'card' : ''}} px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <!-- p-button-success -->
                        <button pButton pRipple label="New" icon="pi pi-plus" class="ml-2" (click)="openNew()"></button>
                        <!-- <button *ngIf="tableConfigs.showDelete" pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedItems()" [disabled]="!selectedItems || !selectedItems.length"></button> -->
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload *ngIf="tableConfigs.showImport" mode="basic" accept=".csv" [maxFileSize]="1000000" label="Import" chooseLabel="Import" (onSelect)="uploadCSV($event)" class="ml-2 inline-block"></p-fileUpload>
                    <button *ngIf="tableConfigs.showExport" pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table
                #dt
                [value]="data"
                [columns]="columns"
                responsiveLayout="scroll"
                [rows]="10"
                [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
                [rows]="10"
                [paginator]="true"
                [rowsPerPageOptions]="[10, 20, 30]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedItems"
                selectionMode="multiple"
                [rowHover]="true"
                dataKey="id"
            >
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">{{tableConfigs.tableName}}</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <!-- <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th> -->
                        
                        <ng-container *ngFor="let column of columns">
                            <th *ngIf="column.isSortable else notSortableColumn" pSortableColumn="{{column.name}}">{{column.name}} <p-sortIcon field="{{column.name}}"></p-sortIcon></th>
                            <ng-template #notSortableColumn>
                                <th></th>
                            </ng-template>
                        </ng-container>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-row>
                    <tr>
                        <!-- <td>
                            <p-tableCheckbox [value]="row"></p-tableCheckbox>
                        </td> -->
                        <ng-container *ngFor="let column of columns">
                            <td *ngIf="column.name === 'Name'; else otherColumn" style="width: 14%; min-width: 10rem">
                                <span class="p-column-title"></span>
                                <a [routerLink]="['/supplier', row.id]">{{ row[column.prop] || 'N/A' }}</a>
                            </td>
                            <ng-template #otherColumn>
                                <td style="width: 14%; min-width: 10rem">
                                    <span class="p-column-title"></span>
                                    {{ row[column.prop] || 'N/A' }}
                                </td>
                            </ng-template>
                        </ng-container>
                        
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded bg-primary-reverse ml-2" (click)="editItem(row)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded bg-primary-reverse" (click)="deleteItem(row)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="addItemDialog" [style]="{ width: '450px' }" header="Create {{tableConfigs.tableName}}" [modal]="true" class="p-fluid">
            <!-- <ng-content select="{{addSupplierFormTemplate}}"></ng-content> -->
            <ng-container *ngTemplateOutlet="formTemplate; context: { $implicit: selectedMutationType }"></ng-container>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveItem(selectedMutationType)"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteItemDialog" header="Confirm" [modal]="true" [style]="{ width: '450px' }">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="dataItem"
                    >Are you sure you want to delete <b>{{ dataItem.name }}</b
                    >?</span
                >
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteItemDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete(dataItem)"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteItemsDialog" header="Confirm" [modal]="true" [style]="{ width: '450px' }">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected products?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteItemsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
