<app-generic-table (changeEvent)="handleChangeEvent($event)" [formTemplate]="formTemplate"
    (formTemplateEvent)="handleFormTemplateEvent($event)" [forcedChangeVal]="forcedChangeVal"
    [tableConfigs]="tableConfigs">
    <ng-template #formTemplate pTemplate="content">
        <div [formGroup]="createOrUpdateForm" class="card p-fluid">
            <label htmlFor="Address">Address</label>
            <span class="p-input-icon-left w-full">
                <i class="pi pi-search"></i>
                <input #searchBar type="text" pInputText placeholder="Search" class="w-full" />
            </span>
            <p-gmap [options]="options" [overlays]="overlays" [style]="{ width: '100%', 
            height: '320px' }" (onMapClick)="overlayClicked($event)">
            </p-gmap>
            <div [formGroup]="addressForm">
                <div class="field">
                    <label htmlFor="Billboard Type">Longitude</label>
                    <input pInputText formControlName="longitude" type="text" />
                </div>
                <div class="field">
                    <label htmlFor="Billboard Type">Latitude</label>
                    <input pInputText formControlName="latitude" type="text" />
                </div>
            </div>
            <div class="field">
                <label htmlFor="Billboard Type">Billboard Type</label>
                <!-- <input pInputText formControlName="role" type="text" /> -->
                <p-dropdown (onChange)="handleSelectEvent($event, 'type')" [options]="billboardTypes"
                    placeholder="Select a Billboard Type" optionLabel="name" class="multiselect-custom" display="chip">
                    <ng-template let-billboardType pTemplate="item">
                        <div class="flex align-items-center">
                            <span class="ml-2">{{ billboardType.name }}</span>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="field">
                <label htmlFor="Supplier">Supplier</label>
                <!-- <input pInputText formControlName="role" type="text" /> -->
                <p-dropdown (onChange)="handleSelectEvent($event, 'supplier')" [options]="suppliers"
                    placeholder="Select a Supplier" optionLabel="name" class="multiselect-custom" display="chip">
                    <ng-template let-supplier pTemplate="item">
                        <div class="flex align-items-center">
                            <span class="ml-2">{{ supplier.name }}</span>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="field">
                <label htmlFor="City">City</label>
                <!-- <input pInputText formControlName="role" type="text" /> -->
                <p-dropdown (onChange)="handleSelectEvent($event, 'city')" [options]="cities"
                    placeholder="Select a City" optionLabel="name" class="multiselect-custom" display="chip">
                    <ng-template let-city pTemplate="item">
                        <div class="flex align-items-center">
                            <span class="ml-2">{{ city.name }}</span>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="field">
                <label htmlFor="Billboard Number">Billboard Number</label>
                <input formControlName="billboardNumber" pInputText type="number" />
            </div>
            <div class="field">
                <label htmlFor="Total Size">Total Size</label>
                <input formControlName="totalSize" pInputText type="number" />
            </div>

            <div class="field">
                <label htmlFor="Width">Width</label>
                <input formControlName="width" pInputText type="number" />
            </div>

            <div class="field">
                <label htmlFor="Height">Height</label>
                <input formControlName="height" pInputText type="number" />
            </div>

            <div class="field">
                <label htmlFor="Sub Type">Sub Type</label>
                <input formControlName="subType" pInputText type="text" />
            </div>

            <div class="field">
                <label htmlFor="Side">Side</label>
                <input formControlName="side" pInputText type="text" />
            </div>

            <div class="field">
                <label htmlFor="Premium Description">Premium Description</label>
                <input formControlName="premiumDescription" pInputText type="text" />
            </div>

            <div class="field">
                <label htmlFor="Orientation">Orientation</label>
                <input formControlName="orientation" pInputText type="text" />
            </div>

            <div class="field">
                <!-- <label htmlFor="Status">Status</label>
                <input formControlName="isActive" pInputText type="text" /> -->
                <label htmlFor="City">Status</label>
                <!-- <input pInputText formControlName="role" type="text" /> -->
                <p-dropdown (onChange)="handleSelectEvent($event, 'isActive')" [options]="billboardStatuses"
                    placeholder="Select a Status" optionValue="value" optionLabel="label" class="multiselect-custom" display="chip">
                    <ng-template let-status pTemplate="item">
                        <div class="flex align-items-center">
                            <span class="ml-2">{{ status.label }}</span>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>

            <div class="field">
                <label htmlFor="Price">Price</label>
                <input formControlName="price" pInputText type="number" />
            </div>

            <div class="field">
                <label htmlFor="Views">Views</label>
                <input formControlName="views" pInputText type="number" />
            </div>

            <div class="field">
                <label htmlFor="Rotation">Rotation</label>
                <input formControlName="rotation" pInputText type="number" />
            </div>

            <div class="field">
                <label htmlFor="Image 1">Image Uploads</label>
                <p-dropdown (onChange)="handleSelectImageToUpload($event)" [options]="imagesIndex" placeholder="Select Image"
                    optionLabel="" class="multiselect-custom" display="chip">
                    <ng-template let-image pTemplate="item">
                        <div class="flex align-items-center">
                            <span class="ml-2">{{ image }}</span>
                        </div>
                    </ng-template>
                </p-dropdown>

                <h5>Selected Files</h5>
                <p-fileUpload [customUpload]="true" (uploadHandler)="uploadHandler($event)" [url]="uploadEndpoint" [disabled]="!selectedImageToUpload" [showCancelButton]="false" [fileLimit]="8" (onSelect)="handleFileSelect($event)" [multiple]="true" accept="image/*"
                    [maxFileSize]="1000000">
                    <ng-template pTemplate="content">
                        <ul *ngIf="uploadedFiles.length">
                            <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                        </ul>
                    </ng-template>
                </p-fileUpload>
            </div>
        </div>
    </ng-template>
</app-generic-table>